Repository igordanchenko/yet-another-react-lightbox: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: setup semantic release branches
  .releaserc.json
Due: prettier --write

Notes added by 'git notes add'
  e73837f82f5ce7ae43ac8cb3c800da5dda01c4aa
Due: none

fix: drop ES target down to ES2018
  tsconfig.json
Due: prettier --write

Notes added by 'git notes add'
  415f2ad39b3cde88c5d73b74c2d8afc0ef6aff3d
Due: none

chore: setup CodeQL workflow
  .github/workflows/codeql-analysis.yml
Due: none

chore: update README
  README.md
Due: none

chore: ensure Fullscreen requests fullscreen only once when auto=true
  src/plugins/Fullscreen.tsx
Due: eslint --fix

chore: update dev dependencies
  package-lock.json
  package.json
Due: prettier --write

fix: fix react peer dependency version
  package-lock.json
  package.json
Due: prettier --write

chore: add utils unit tests
  src/core/utils.ts
  test/core/utils.spec.ts
Due: eslint --fix

feat: add custom renderers
  .eslintrc.json
  package-lock.json
  package.json
  src/Lightbox.tsx
  src/core/components/IconButton.tsx
  src/core/modules/Carousel.tsx
  src/core/modules/Navigation.tsx
  src/core/modules/Toolbar.tsx
  src/plugins/Video.tsx
  src/types.ts
Due: eslint --fix, prettier --write

feat: add view, entering, entered, exiting and exited callbacks
  src/core/modules/Controller.tsx
  src/core/modules/Portal.tsx
  src/types.ts
Due: eslint --fix

Notes added by 'git notes add'
  d3228679dafe0e830dedacba9b5124c010848d4e
Due: none

fix: add custom renderers for loading, error and fullscreen icons
  src/core/components/ImageSlide.tsx
  src/core/modules/Carousel.tsx
  src/plugins/Fullscreen.tsx
  src/types.ts
Due: eslint --fix

Notes added by 'git notes add'
  70a0c6566331382b619535f045a6a4e03a7199d5
Due: none

fix: increase portal z-index
  src/styles.scss
Due: none

Notes added by 'git notes add'
  f7874dfc54df6196237f768dc94f4b540f162859
Due: none

fix: add default styles to inline container
  package-lock.json
  package.json
  src/plugins/Inline.tsx
Due: eslint --fix, prettier --write

feat: add package entry points for individual plugins
  package-lock.json
  package.json
  src/core/hooks/useSensors.ts
Due: eslint --fix, prettier --write

chore: add unit tests
  test/plugins/Fullscreen.spec.ts
Due: eslint --fix

Notes added by 'git notes add'
  3f0f74b240b2ae3686e6301d890508c3bb1d46d7
Due: none

fix: fix prop-types dependency version
  package-lock.json
  package.json
Due: prettier --write

fix: eliminate duplicate ComponentProps type
  package-lock.json
  package.json
  src/Lightbox.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  af257ad1ac09c5b8d8c71285a0a0fa8d94d66c30
Due: none

fix: add main entrypoint
  package.json
Due: prettier --write

Notes added by 'git notes add'
  515d762f833b9b426ad60b9814a6366ed35abba1
Due: none

fix: lightbox props type checking in non-strict mode (#2)
  package-lock.json
  src/Lightbox.tsx
  src/types.ts
  test/Lightbox.spec.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  1909fc8c59b14cd24032d76c89987da8aab522fd
Due: none

refactor: simplify lightbox props
  src/Lightbox.tsx
Due: eslint --fix

chore: update minimal setup example
  README.md
Due: none

feat: add default export
  .eslintrc.json
  README.md
  src/index.ts
  test/utils.tsx
Due: eslint --fix, prettier --write

docs: update README
  README.md
Due: none

Notes added by 'git notes add'
  15bbea7d2bb868a31db7db16f362b420d2ef2aa1
Due: none

fix: add default exports for individual plugins
  src/plugins/Fullscreen.tsx
  src/plugins/Inline.tsx
  src/plugins/Video.tsx
Due: eslint --fix

Notes added by 'git notes add'
  5e502fac3f260d5685a80d347bec60180d0a0db9
Due: none

fix: eliminate conflicting type names
  src/types.ts
Due: eslint --fix

fix: disable auto focus in inline mode
  src/Lightbox.tsx
  src/core/modules/Controller.tsx
  src/plugins/Inline.tsx
  src/types.ts
Due: eslint --fix

Notes added by 'git notes add'
  3e69bc75e12535bd61b0e968fc87b249c541fad0
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.json
