Repository igordanchenko/yet-another-react-lightbox: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
    "*.{md,json}": ["prettier --write"]
}

ci: renovate ci workflow
  .github/workflows/ci.yml
Due: none

ci: switch release workflow to node 24
  .github/workflows/release.yml
Due: none

ci: renovate release workflow
  .github/workflows/release.yml
Due: none

feat: migrate to npm trusted publishing
  .github/workflows/release.yml
  package.json
Due: prettier --write

chore: modernize package repository url
  package-lock.json
  package.json
Due: prettier --write

chore: drop vscode launch configuration
  .vscode/launch.json
Due: prettier --write

chore: eliminate duplicate client boundary directives in watch mode
  fixup-dist.js
Due: eslint --fix, prettier --write

chore: upgrade to vitest@4
  package-lock.json
  package.json
  vitest.config.ts
Due: eslint --fix, prettier --write

chore: update dev dependencies
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3ca400d2d397520df96a0c60c0e78c656a1a2cac
Due: none

chore: update commitlint config
  .commitlintrc.json
Due: prettier --write

chore: allowlist .local domains for local development
  dev/vite.config.ts
Due: eslint --fix, prettier --write

fix(zoom): improve pinch zoom accuracy
  src/plugins/zoom/hooks/useZoomState.ts
Due: eslint --fix, prettier --write

feat(zoom): add experimental pinch zoom implementation (fix #380)
  docs/plugins/zoom.md
  src/plugins/zoom/hooks/useZoomSensors.ts
  src/plugins/zoom/index.ts
  src/plugins/zoom/props.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  a75e859ab270d046df133ee8e3e56d3d0df2d657
Due: none

chore: setup sponsorship
  .github/FUNDING.yml
Due: none

feat: setup project sponsorship
  README.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  21bfbfaf78f3b0f65f61503f3554fe623a4c4f82
Due: none

build: replace npm-run-all with npm-run-all2
  package-lock.json
  package.json
Due: prettier --write

chore: remove types definition from CSS exports
  fixup-dist.js
  package.json
Due: eslint --fix, prettier --write

refactor: remove redundant array spread in clsx
  src/utils.ts
Due: eslint --fix, prettier --write

refactor: remove redundant -webkit vendor prefixes
  dev/vite.config.ts
  src/styles.scss
Due: eslint --fix, prettier --write

chore: clean up .gitignore
  .gitignore
Due: none

chore: add dedicated tsconfig for dev server
  dev/tsconfig.json
  tsconfig.json
Due: prettier --write

docs: update documentation
  README.md
  docs/advanced.md
  docs/customization.md
  docs/documentation.md
  docs/examples/basic.md
  docs/examples/nextjs.md
  docs/plugins/captions.md
  docs/plugins/counter.md
  docs/plugins/download.md
  docs/plugins/fullscreen.md
  docs/plugins/inline.md
  docs/plugins/share.md
  docs/plugins/slideshow.md
  docs/plugins/thumbnails.md
  docs/plugins/video.md
  docs/plugins/zoom.md
Due: prettier --write

feat: support function form for carousel imageProps
  src/components/ImageSlide.tsx
  src/types.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  f02cfd4fbed5d3d64050925e7b0aab4363cbf66f
Due: none

docs: update imageProps documentation
  docs/documentation.md
Due: prettier --write

chore: update dev dependencies
  package-lock.json
Due: prettier --write

fix: avoid mutating srcSet array during render
  src/components/ImageSlide.tsx
Due: eslint --fix, prettier --write

build: fail build on TypeScript errors in rollup
  rollup.config.js
Due: eslint --fix, prettier --write

refactor: make array types in public API readonly
  src/config.ts
  src/plugins/video/index.ts
  src/types.ts
  src/utils.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  2b19b71d4a5af7c6399f50e593323aa13842f0ab
Due: none

ci: add workflow_dispatch trigger
  .github/workflows/ci.yml
Due: none

fix(counter): counter and toolbar overlap in RTL layout (fix #394)
  src/plugins/counter/counter.scss
Due: none

fix: sync index prop during render to prevent infinite loop (fix #395)
  src/contexts/LightboxState.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  be6d4a04eb9ff0b347d5b1b0dd68cc74d5661156
Due: none

feat: support configurable reading direction at viewer level (fix #397)
  docs/documentation.md
  src/components/LightboxRoot.tsx
  src/contexts/RTLContext.tsx
  src/contexts/index.ts
  src/hooks/useRTL.ts
  src/modules/Portal.tsx
  src/types.ts
  test/unit/RTL.spec.ts
Due: eslint --fix, prettier --write
