Repository igordanchenko/yet-another-react-lightbox: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: fix TS module augmentation in plugins (close #132)
  fixup-dist.js
  package-lock.json
  package.json
  src/plugins/captions/index.ts
  src/plugins/download/index.ts
  src/plugins/download/props.ts
  src/plugins/fullscreen/index.ts
  src/plugins/share/index.ts
  src/plugins/share/props.ts
  src/plugins/slideshow/index.ts
  src/plugins/thumbnails/index.ts
  src/plugins/zoom/index.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  25/3a017428ec5b63dbd8f797341b313b06b4ee7a
Due: none

chore: update dev example
  dev/index.css
  package-lock.json
  package.json
Due: prettier --write

fix(video): add safeguard against empty video sources
  src/plugins/video/Video.tsx
Due: eslint --fix

fix(types): improve image and video slide type definitions
  src/plugins/video/index.ts
  src/types.ts
Due: eslint --fix

chore: update dev dependencies
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2f/0a6e410ba55a38292ac9169790cea5cdf70743
Due: none

feat: add slide style customization slot
  src/modules/Carousel.tsx
  src/types.ts
Due: eslint --fix

refactor: streamline slide customization slot implementation
  src/modules/Carousel.tsx
Due: eslint --fix

Notes added by 'git notes add'
  c0/dc8d05f102d316a59158b445f939fa3841b6c6
Due: none

fix: fix escape key keyboard listener (fix #142)
  package-lock.json
  package.json
  src/modules/Controller/Controller.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  67/11b18783eb83729ec73c59de65aa07c315ee68
Due: none

ci: update ci and release workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix(types): fix plugins module augmentations
  fixup-dist.js
  package-lock.json
  package.json
  src/plugins/download/index.ts
  src/plugins/share/index.ts
  test/types/.gitignore
  test/types/index.html
  test/types/index.js
  test/types/package.json
  test/types/src/App.tsx
  test/types/src/main.tsx
  test/types/src/vite-env.d.ts
  test/types/tsconfig.json
  test/types/tsconfig.node.json
  test/types/vite.config.ts
  test/unit/Lightbox.spec.ts
  test/unit/core/utils.spec.ts
  test/unit/plugins/Captions.spec.ts
  test/unit/plugins/Counter.spec.ts
  test/unit/plugins/Download.spec.ts
  test/unit/plugins/Fullscreen.spec.ts
  test/unit/plugins/Inline.spec.ts
  test/unit/plugins/Share.spec.ts
  test/unit/plugins/Slideshow.spec.ts
  test/unit/plugins/Thumbnails.spec.ts
  test/unit/plugins/Video.spec.ts
  test/unit/plugins/Zoom.spec.ts
  test/unit/setup.ts
  test/unit/utils.tsx
  vitest.config.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  ab/07ee7292dcce66fe407dab9d6b5d8b4122668a
Due: none

ci: fix ci on windows
  fixup-dist.js
  test/types/index.js
Due: eslint --fix

fix: fix useLoseFocus hook (fix #145)
  src/hooks/useLoseFocus.ts
Due: eslint --fix

Notes added by 'git notes add'
  2d/6e6dba2508fda2b5f3ed5875a92d22eb75afd5
Due: none

chore: add dependabot configuration
  .github/dependabot.yml
Due: none

chore: update dev dependencies
  .prettierrc.json
  package-lock.json
  package.json
  src/hooks/useThrottle.ts
Due: eslint --fix, prettier --write

fix(inline): attach `root` slot styles to the Inline container
  src/plugins/inline/InlineContainer.tsx
Due: eslint --fix

Notes added by 'git notes add'
  bd/aa7f7cbacc628b77a0b252c012a63c460de654
Due: none

docs: migrate docs
  docs/advanced.md
  docs/customization.md
  docs/documentation.md
  docs/examples.md
  docs/examples/basic.md
  docs/examples/carousel.md
  docs/examples/custom-slides.md
  docs/examples/gallery.md
  docs/examples/nextjs.md
  docs/examples/playground.md
  docs/plugins.md
  docs/plugins/captions.md
  docs/plugins/counter.md
  docs/plugins/download.md
  docs/plugins/fullscreen.md
  docs/plugins/inline.md
  docs/plugins/share.md
  docs/plugins/slideshow.md
  docs/plugins/thumbnails.md
  docs/plugins/video.md
  docs/plugins/zoom.md
Due: none

ci: add publish docs workflow
  .github/workflows/docs.yml
Due: none

docs: format docs
  .lintstagedrc.json
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  docs/examples/basic.md
  docs/examples/custom-slides.md
  docs/examples/gallery.md
  docs/examples/nextjs.md
  docs/plugins/captions.md
  docs/plugins/counter.md
  docs/plugins/download.md
  docs/plugins/fullscreen.md
  docs/plugins/inline.md
  docs/plugins/share.md
  docs/plugins/slideshow.md
  docs/plugins/thumbnails.md
  docs/plugins/video.md
  docs/plugins/zoom.md
Due: prettier --write

docs: fix license link
  README.md
Due: none

docs: format docs
  docs/advanced.md
  docs/customization.md
  docs/documentation.md
  docs/examples.md
  docs/plugins.md
Due: none

feat: add toolbar and navigation buttons customization slots
  docs/customization.md
  src/modules/Navigation.tsx
  src/modules/Toolbar.tsx
  src/types.ts
Due: eslint --fix

chore: update dev dependencies
  package-lock.json
  package.json
  src/plugins/captions/Description.tsx
  src/plugins/video/Video.tsx
  test/types/index.js
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  75/0662249529c271a0703ab704d65b303e0918d2
Due: none

docs: update Zoom plugin ref usage example
  docs/plugins/zoom.md
Due: none

docs: update Zoom plugin docs
  docs/plugins/zoom.md
Due: none

chore: update dev dependencies
  package-lock.json
  package.json
  test/unit/setup.ts
  tsconfig.json
Due: eslint --fix, prettier --write

fix: improve carousel preload in edge cases
  src/modules/Carousel.tsx
  src/plugins/thumbnails/ThumbnailsTrack.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.json
