Repository igordanchenko/yet-another-react-lightbox: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
    "*.{md,json}": ["prettier --write"]
}

fix(inline): fix mouse wheel page scrolling in Safari (fix #256)
  src/plugins/inline/InlineContainer.tsx
  src/styles.scss
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  771fde166fa0ef37b4de8b9e76ae746732817dca
Due: none

chore: update dev dependencies
  package-lock.json
  package.json
Due: prettier --write

fix(thumbnails): fix custom thumbnail dimensions (fix #262)
  src/plugins/thumbnails/ThumbnailsTrack.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  6629fc13ddeb68650a5bfebcab74db301045945a
Due: none

docs: update NoScroll module docs
  docs/documentation.md
Due: prettier --write

fix(thumbnails): add imageFit support for video thumbnails (fix #263)
  src/plugins/thumbnails/Thumbnail.tsx
  src/plugins/thumbnails/thumbnails.scss
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  e4e0d4e19dfa6cc90ecd532e2358871f3d020a23
Due: none

fix: streamline slide keys usage (fix #265)
  src/modules/Carousel.tsx
  src/plugins/thumbnails/Thumbnail.tsx
  src/plugins/thumbnails/ThumbnailsTrack.tsx
  src/plugins/video/Video.tsx
  src/plugins/video/VideoSlide.tsx
  src/plugins/zoom/ZoomWrapper.tsx
  src/utils.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  331e9cb25a0f661069f9bdc06ce41e6611a21122
Due: none

ci: update vitest config
  rollup.config.js
  vitest.config.ts
Due: eslint --fix, prettier --write

feat(video): add video source media attribute
  docs/plugins/video.md
  src/plugins/video/VideoSlide.tsx
  src/plugins/video/index.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  3f18c23165073f65364938db42afd75722c11903
Due: none

fix(fullscreen): improve Fullscreen plugin compatibility with shadow DOM (fix #271)
  src/plugins/fullscreen/FullscreenContext.tsx
Due: eslint --fix, prettier --write

feat: add LightboxRoot and DocumentContext
  src/components/LightboxRoot.tsx
  src/components/index.ts
  src/contexts/DocumentContext.tsx
  src/contexts/index.ts
  src/modules/Portal.tsx
  src/plugins/inline/InlineContainer.tsx
Due: eslint --fix, prettier --write

fix(fullscreen): improve Fullscreen plugin compatibility with ownerDocument (fix #270)
  src/plugins/fullscreen/FullscreenContext.tsx
Due: eslint --fix, prettier --write

fix(thumbnails): improve Thumbnails plugin compatibility with ownerDocument
  src/plugins/thumbnails/Thumbnail.tsx
Due: eslint --fix, prettier --write

fix(zoom): improve Zoom plugin compatibility with ownerDocument
  src/plugins/zoom/hooks/useZoomSensors.ts
Due: eslint --fix, prettier --write

fix: improve Controller module compatibility with ownerDocument
  src/modules/Controller/Controller.tsx
Due: eslint --fix, prettier --write

fix: improve NoScroll module compatibility with ownerDocument
  src/modules/NoScroll.tsx
Due: eslint --fix, prettier --write

feat(thumbnails): add standalone thumbnail prop (fix #274)
  README.md
  docs/documentation.md
  src/plugins/thumbnails/Thumbnail.tsx
  src/plugins/thumbnails/ThumbnailsTrack.tsx
  src/plugins/thumbnails/index.ts
Due: eslint --fix, prettier --write

chore: update bug report and feature request templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

ci: update ci and release workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

ci: update codeql workflow
  .github/workflows/codeql.yml
Due: none

Notes added by 'git notes add'
  78e1ab2f929fe0364aa4bdec66ca6206a5a46928
Due: none

docs: fix srcSet type
  docs/documentation.md
Due: prettier --write

docs: update Thumbnails plugin docs
  docs/plugins/thumbnails.md
Due: prettier --write

chore: update sample photos
  dev/slides.ts
  test/types/src/App.tsx
Due: eslint --fix, prettier --write

feat(captions): add option to hide captions by default (fix #280)
  docs/plugins/captions.md
  src/plugins/captions/CaptionsContext.tsx
  src/plugins/captions/index.ts
  src/plugins/captions/props.ts
  test/types/src/App.tsx
Due: eslint --fix, prettier --write

feat(thumbnails): add option to hide thumbnails by default (fix #280)
  docs/plugins/thumbnails.md
  src/plugins/thumbnails/ThumbnailsContext.tsx
  src/plugins/thumbnails/index.ts
  src/plugins/thumbnails/props.ts
  test/types/src/App.tsx
Due: eslint --fix, prettier --write

chore: update sample photos
  dev/slides.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  8db42fe28415bc35d279dca7cc94ffe93ade9d3d
Due: none

fix: add onError callback to ImageSlide
  src/components/ImageSlide.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  39426d4d3918c1c0744a5d26de9130c7e6aa647a
Due: none
