Repository igordanchenko/yet-another-react-lightbox: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: tidy package.json metadata
  package.json
Due: prettier --write

chore: update dev dependencies
  package-lock.json
  package.json
Due: prettier --write

ci: add bundle size budget and record size at publish time
  .github/workflows/ci.yml
  .github/workflows/preview.yml
  .github/workflows/release.yml
  .size-limit.json
  package-lock.json
  package.json
Due: prettier --write

ci: drop Node 20 from the test matrix
  .github/workflows/ci.yml
Due: none

ci: skip release success comments on bot pull requests
  .releaserc.json
Due: prettier --write

ci: skip preview publishes for bot pull requests
  .github/workflows/ci.yml
  .github/workflows/preview.yml
Due: none

ci: serialize preview runs per pull request
  .github/workflows/preview.yml
Due: none

ci: drop bundle size recording from the preview workflow
  .github/workflows/preview.yml
Due: none

ci: bound the runtime of the CI gate job
  .github/workflows/ci.yml
Due: none

ci: drop the unused discussions permission from the release job
  .github/workflows/release.yml
Due: none

ci: invoke pkg-pr-new non-interactively
  .github/workflows/preview.yml
Due: none

ci: lock inactive threads after 180 days
  .github/workflows/lock.yml
Due: none

ci: opt the publish workflows out of the dependency cache
  .github/workflows/preview.yml
  .github/workflows/release.yml
Due: none

ci: list macOS before Windows in the test matrix
  .github/workflows/ci.yml
Due: none

chore: drop the executable bit from the husky hooks
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

chore: format every staged file with prettier
  .lintstagedrc.json
Due: prettier --write

docs: route security reports through private advisories
  CODE_OF_CONDUCT.md
  SECURITY.md
Due: prettier --write

docs: reword the CHANGELOG pointer
  CHANGELOG.md
Due: prettier --write

chore: restructure the issue and PR templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

chore: track size limits for every package entry
  .size-limit.json
Due: prettier --write

docs: read the bundle size badge from the npm registry
  README.md
Due: prettier --write

fix: pass arguments through to the throttled callback
  src/hooks/useThrottle.ts
  test/unit/core/useThrottle.spec.ts
Due: eslint --fix, prettier --write

docs: add a project logo and center the README masthead
  .github/assets/logo.webp
  README.md
Due: prettier --write

chore: move the repository field above homepage in package.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  fb77cd0e2bbc39e0f4a55a89a3dee1d84baee88e
Due: none

docs: keep the controller default value on a single markdown block
  docs/documentation.md
Due: prettier --write

chore: skip rolldown bundling for the CSS size limit checks
  .size-limit.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,json})
