Repository igordanchenko/yet-another-react-lightbox: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Notes added by 'git notes add'
  db3f2a28863c7f25ab55ce18579642403cb24c5a
Due: none

feat: add support for ReactNode in title and description (fix #29)
  src/plugins/captions/Description.tsx
  src/plugins/captions/index.ts
Due: eslint --fix

chore: update dev dependencies
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c2238a7181dbb29a45cc872349e1840637334d09
Due: none

chore: update CodeQL workflow
  .github/workflows/codeql-analysis.yml
  .github/workflows/codeql.yml
Due: none

fix: adjust the number of thumbnails based on the number of slides
  src/plugins/thumbnails/ThumbnailsTrack.tsx
Due: eslint --fix

fix: fix thumbnails swipe animation in inline mode
  src/plugins/thumbnails/ThumbnailsTrack.tsx
Due: eslint --fix

fix: remove the non-standard "OS" modifier key support
  src/plugins/zoom/ZoomContainer.tsx
Due: eslint --fix

Notes added by 'git notes add'
  dcdaeb85129496a1e93c9ab371eecb4a2edc1753
Due: none

fix: fix Zoom plugin image source change (fix #38)
  src/plugins/zoom/ResponsiveImage.tsx
Due: eslint --fix

Notes added by 'git notes add'
  e5b4ed5056595ea7043cdc3a55f17d1c54f9b144
Due: none

fix: persist synthetic events (fix #45)
  src/core/modules/controller/usePointerSwipe.ts
  src/plugins/zoom/ZoomContainer.tsx
Due: eslint --fix

Notes added by 'git notes add'
  bd2c0edc1da35d270a68c284690def1a905f45b7
Due: none

build: fix ci
  package-lock.json
Due: prettier --write

fix: fix sliding event getting stuck when pointer goes over an iframe (fix #48)
  src/core/modules/controller/usePointerSwipe.ts
Due: eslint --fix

Notes added by 'git notes add'
  64c6b6d183717736ca4cb93ada847d723f30303a
Due: none

fix: video plugin not updating on delete (fix #50)
  src/plugins/video/Video.tsx
Due: eslint --fix

Notes added by 'git notes add'
  893d729500f36762e88017f907bba1544319853c
Due: none

fix: pointer swipe glitch in Firefox
  src/core/modules/controller/usePointerSwipe.ts
Due: eslint --fix

Notes added by 'git notes add'
  fad0c727082f3059ba6b51e223885531dbb74955
Due: none

fix: sliding event getting stuck in Chrome (fix #59)
  src/core/modules/controller/usePointerSwipe.ts
Due: eslint --fix

chore: cleanup package.json
  .github/workflows/release.yml
  .releaserc.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b87e018d7d6f9eb8f0546cb0d505a8db526b5f6b
Due: none

chore: update eslint config
  .eslintrc.json
  src/core/hooks/useForkRef.ts
Due: eslint --fix, prettier --write

feat: add on.zoom callback
  src/plugins/zoom/ZoomContainer.tsx
  src/plugins/zoom/index.ts
Due: eslint --fix

Notes added by 'git notes add'
  3b602000f4e67767f1e4883c525472c4f3ace613
Due: none

docs: update README
  README.md
Due: none

fix: export ContainerRect type
  src/core/components/ImageSlide.tsx
  src/core/hooks/useContainerRect.ts
  src/core/modules/Carousel.tsx
  src/core/modules/Controller.tsx
  src/plugins/thumbnails/Thumbnail.tsx
  src/plugins/thumbnails/ThumbnailsTrack.tsx
  src/plugins/thumbnails/index.ts
  src/plugins/zoom/ZoomContainer.tsx
  src/types.ts
Due: eslint --fix

Notes added by 'git notes add'
  8f20a03d13886a5618cb123a42d09b989ab67c01
Due: none

feat: improve thumbnails animation performance
  src/core/consts.ts
  src/core/contexts/LightboxState.tsx
  src/core/hooks/index.ts
  src/core/hooks/useAnimation.ts
  src/core/hooks/useDelay.ts
  src/core/modules/Carousel.tsx
  src/core/modules/Controller.tsx
  src/core/modules/Navigation.tsx
  src/core/utils.ts
  src/plugins/slideshow/SlideshowButton.tsx
  src/plugins/thumbnails/ThumbnailsContainer.tsx
  src/plugins/thumbnails/ThumbnailsTrack.tsx
  src/plugins/zoom/ZoomContainer.tsx
  src/plugins/zoom/ZoomContext.tsx
Due: eslint --fix

refactor: improve type specificity of events and subscriptions
  src/core/consts.ts
  src/core/contexts/Events.tsx
  src/core/modules/Controller.tsx
  src/core/modules/Toolbar.tsx
  src/plugins/captions/CaptionsContext.tsx
  src/plugins/video/index.ts
  src/plugins/zoom/index.ts
Due: eslint --fix

fix: throttle rapid repeat of keyboard navigation events
  src/core/hooks/index.ts
  src/core/hooks/useDelay.ts
  src/core/hooks/useThrottle.ts
  src/core/modules/Navigation.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.json
