Repository igordanchenko/yet-another-react-lightbox: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Notes added by 'git notes add'
  649f7631ca0c2a481053257c3086d8fb49c99fbc
Due: none

refactor: move active slide status event types definition to the core module
  src/core/modules/Controller.tsx
  src/plugins/video/index.ts
Due: eslint --fix

chore: code cleanup
  src/plugins/fullscreen/FullscreenButton.tsx
  src/plugins/slideshow/SlideshowButton.tsx
  src/plugins/zoom/ZoomButton.tsx
Due: eslint --fix

feat: add Counter plugin
  README.md
  package.json
  src/_common.scss
  src/core/consts.ts
  src/plugins/counter/Counter.tsx
  src/plugins/counter/counter.scss
  src/plugins/counter/index.ts
  src/plugins/index.ts
  src/plugins/thumbnails/thumbnails.scss
  src/styles.scss
  test/plugins/Counter.spec.ts
Due: eslint --fix, prettier --write

chore: update dev dependencies
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  36e7a70a6e41ef759ecdfce227c6b85ce71c2816
Due: none

feat: add Captions button and ref
  src/core/components/Icons.tsx
  src/core/consts.ts
  src/plugins/captions/Captions.tsx
  src/plugins/captions/CaptionsButton.tsx
  src/plugins/captions/CaptionsContext.tsx
  src/plugins/captions/Description.tsx
  src/plugins/captions/Title.tsx
  src/plugins/captions/index.ts
  src/plugins/captions/props.ts
Due: eslint --fix

feat: add Thumbnails button and ref
  src/plugins/thumbnails/Thumbnails.tsx
  src/plugins/thumbnails/ThumbnailsButton.tsx
  src/plugins/thumbnails/ThumbnailsContainer.tsx
  src/plugins/thumbnails/ThumbnailsContext.tsx
  src/plugins/thumbnails/ThumbnailsTrack.tsx
  src/plugins/thumbnails/index.ts
  src/plugins/thumbnails/props.ts
Due: eslint --fix

Notes added by 'git notes add'
  443c436ec0ee66371460db1630ac32682d6a2f41
Due: none

chore: code cleanup
  src/core/components/IconButton.tsx
  src/core/modules/Toolbar.tsx
  src/plugins/zoom/ZoomButton.tsx
Due: eslint --fix

feat: streamline toolbar buttons configuration
  src/core/utils.ts
  src/plugins/captions/Captions.tsx
  src/plugins/captions/index.ts
  src/plugins/fullscreen/Fullscreen.tsx
  src/plugins/fullscreen/index.ts
  src/plugins/slideshow/Slideshow.tsx
  src/plugins/slideshow/index.ts
  src/plugins/thumbnails/Thumbnails.tsx
  src/plugins/thumbnails/index.ts
  src/plugins/zoom/Zoom.tsx
  src/plugins/zoom/index.ts
  src/types.ts
Due: eslint --fix

refactor: streamline IconButton labels translation
  src/core/components/IconButton.tsx
  src/core/modules/Navigation.tsx
  src/core/modules/Toolbar.tsx
  src/plugins/captions/CaptionsButton.tsx
  src/plugins/fullscreen/FullscreenButton.tsx
  src/plugins/slideshow/SlideshowButton.tsx
  src/plugins/thumbnails/ThumbnailsButton.tsx
  src/plugins/zoom/ZoomButton.tsx
Due: eslint --fix

Notes added by 'git notes add'
  fce79dd88b198893622bfb7f57e8281e53ceeba8
Due: none

refactor: separate lightbox state and dispatch
  src/core/contexts/LightboxState.tsx
  src/core/modules/Carousel.tsx
  src/core/modules/Controller.tsx
  src/core/modules/Navigation.tsx
  src/core/utils.ts
  src/plugins/counter/Counter.tsx
  src/plugins/slideshow/SlideshowContext.tsx
  src/plugins/thumbnails/ThumbnailsTrack.tsx
  src/plugins/zoom/ZoomWrapper.tsx
  src/plugins/zoom/hooks/useZoomImageRect.ts
  src/plugins/zoom/hooks/useZoomSensors.ts
  src/plugins/zoom/hooks/useZoomState.ts
  src/types.ts
Due: eslint --fix

feat: add Download plugin
  package.json
  src/core/consts.ts
  src/plugins/download/Download.tsx
  src/plugins/download/DownloadButton.tsx
  src/plugins/download/FileSaver.ts
  src/plugins/download/index.ts
  src/plugins/index.ts
  test/plugins/Download.spec.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  419019adcbf8ea22394aea3645290af81c1a4c7b
Due: none

chore: update README
  README.md
Due: none

ci: enable provenance in release workflow
  .github/workflows/release.yml
  package.json
Due: prettier --write

feat: add custom portal mount point
  src/core/modules/Portal.tsx
  src/props.ts
  src/types.ts
Due: eslint --fix

ci: add issues write permission
  .github/workflows/release.yml
Due: none

ci: add contents write permission
  .github/workflows/release.yml
Due: none

fix: add `on.download` callback
  src/plugins/download/DownloadButton.tsx
  src/plugins/download/index.ts
Due: eslint --fix

Notes added by 'git notes add'
  5e/431700060c29103880abf7d62770a459b143a4
Due: none

refactor: stop using deprecated lightbox state field
  src/core/modules/Controller.tsx
Due: eslint --fix

fix: add slideshow playback callbacks
  src/plugins/download/index.ts
  src/plugins/slideshow/SlideshowContext.tsx
  src/plugins/slideshow/index.ts
Due: eslint --fix

Notes added by 'git notes add'
  21/4b774d12a8f6d8b3830f595058282afd8106c1
Due: none

fix(video): set maxWidth/maxHeight 100% to prevent overflow
  src/plugins/video/VideoSlide.tsx
Due: eslint --fix

Notes added by 'git notes add'
  1e/e41d7007ab18f157ab99d35b96fc0813690500
Due: none

ci: update release workflow permissions
  .github/workflows/release.yml
Due: none

ci: enable ci on pull requests
  .github/workflows/ci.yml
Due: none

ci: update ci workflow
  .github/workflows/ci.yml
Due: none

ci: update ci workflows
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Due: none

ci: remove node 14 from ci matrix
  .github/workflows/ci.yml
Due: none

chore: update dev dependencies
  .npmrc
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.json
