Repository igordanchenko/yet-another-react-lightbox: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx}": ["eslint --fix"],
    "*.json": ["prettier --write"]
}

docs: fix typo
  src/types.ts
Due: eslint --fix

feat: add imageFit property
  src/core/components/ImageSlide.tsx
  src/styles.scss
  src/types.ts
Due: eslint --fix

fix: fix touch-action pan-y
  src/styles.scss
Due: none

fix: workaround occasional image flickering in desktop Safari
  src/styles.scss
Due: none

chore: update dev dependencies
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  98fdb20c5b143619451bd1e280883796808f7cd7
Due: none

fix: improve padding and spacing props typings, add additional validation
  src/core/modules/Carousel.tsx
  src/types.ts
Due: eslint --fix

refactor: simplify Lightbox component
  src/Lightbox.tsx
Due: eslint --fix

fix: prevent page refresh on vertical overscroll
  src/core/modules/Controller.tsx
  src/plugins/Inline.tsx
  src/styles.scss
  src/types.ts
Due: eslint --fix

Notes added by 'git notes add'
  a58dfe31f4bcb4676370830010825d81b080ed9a
Due: none

feat: introduce Thumbnails plugin
  README.md
  package.json
  src/core/components/ImageSlide.tsx
  src/core/config.ts
  src/core/modules/Carousel.tsx
  src/core/modules/Controller.tsx
  src/core/utils.ts
  src/plugins/Fullscreen.tsx
  src/plugins/Thumbnails.tsx
  src/plugins/index.ts
  src/plugins/thumbnails.scss
  src/styles.scss
  src/types.ts
  test/plugins/Thumbnails.spec.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  1bb496de081b98f36b9b7e95e07899f8e6af5025
Due: none

fix: make custom thumbnail render function type optional
  src/plugins/Thumbnails.tsx
Due: eslint --fix

fix: honor reduced motion preference in Thumbnails plugin
  src/core/hooks/index.ts
  src/core/hooks/useMotionPreference.ts
  src/plugins/Thumbnails.tsx
Due: eslint --fix

fix: add imageFit prop to Thumbnails plugin settings
  src/plugins/Thumbnails.tsx
Due: eslint --fix

chore: minor code cleanup
  src/core/components/ImageSlide.tsx
  src/plugins/Slideshow.tsx
Due: eslint --fix

refactor: introduce useRTL hook
  src/core/hooks/index.ts
  src/core/hooks/useMotionPreference.ts
  src/core/hooks/useRTL.ts
  src/core/modules/Controller.tsx
  src/core/modules/Navigation.tsx
  src/core/utils.ts
  src/plugins/Thumbnails.tsx
  test/plugins/Fullscreen.spec.ts
Due: eslint --fix

refactor: refactor useMotionPreference hook
  src/core/hooks/useMotionPreference.ts
  src/plugins/Thumbnails.tsx
Due: eslint --fix

fix: increase toolbar density
  src/styles.scss
Due: none

Notes added by 'git notes add'
  4d6b52b7400adb75c27c6035b36669d69e272451
Due: none

fix: prevent page navigation on horizontal overscroll
  src/styles.scss
Due: none

feat: introduce Zoom plugin
  README.md
  package.json
  src/core/components/IconButton.tsx
  src/core/components/ImageSlide.tsx
  src/core/contexts/Timeouts.tsx
  src/core/hooks/useSensors.ts
  src/core/modules/Controller.tsx
  src/core/modules/Navigation.tsx
  src/core/utils.ts
  src/plugins/Captions.tsx
  src/plugins/Fullscreen.tsx
  src/plugins/Thumbnails.tsx
  src/plugins/Zoom.tsx
  src/plugins/index.ts
  src/types.ts
  test/plugins/Zoom.spec.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  10107fd629ae9529d290dfedb7f4b9a3ce25ecd5
Due: none

chore: update README
  README.md
Due: none

fix: fix error in zoom plugin image rect calculation
  src/plugins/Zoom.tsx
Due: eslint --fix

Notes added by 'git notes add'
  9e39e547b1a9ab950d69a312698ed17478187b58
Due: none

fix: fix error in max zoom calculation
  src/plugins/Zoom.tsx
Due: eslint --fix

chore: fix build
  jest.config.json
Due: prettier --write

Notes added by 'git notes add'
  44d7091867017441a6638f3f55dfd98326a6e263
Due: none

fix: custom zoom settings
  src/plugins/Zoom.tsx
Due: eslint --fix

fix: rounding error when zooming to max zoom level
  src/plugins/Zoom.tsx
Due: eslint --fix

Notes added by 'git notes add'
  33a7f90e2a0af047c3de30594911cd10d2c8c2c4
Due: none

fix: stop enforcing devicePixelRatio
  src/core/components/ImageSlide.tsx
  src/core/utils.ts
  src/plugins/Zoom.tsx
Due: eslint --fix

chore: update homepage url
  README.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  69f950d9e684bad9dd91111b4a424acad925b77e
Due: none

docs: fix inline prop description
  src/plugins/Inline.tsx
Due: eslint --fix
