Repository igordanchenko/yet-another-react-lightbox: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx}": ["eslint --fix"],
    "*.json": ["prettier --write"]
}

Notes added by 'git notes add'
  5fca554f969ff6055f56ea16c3c8eace0525e9ed
Due: none

fix: fix inline plugin container relative position
  src/plugins/inline/Inline.tsx
  src/styles.scss
Due: eslint --fix

fix: fix padding percentage calculation
  src/core/modules/Carousel.tsx
  src/core/modules/Controller.tsx
  src/core/utils.ts
  src/styles.scss
Due: eslint --fix

Notes added by 'git notes add'
  51d3dd7f697e0d66053d6fe29c2d1823e26bcbe0
Due: none

fix: prevent navigation on swipe overscroll
  src/styles.scss
Due: none

Notes added by 'git notes add'
  cc90bdd17bb33f5d66aaac3ae259dec32ede124e
Due: none

feat: add thumbnails.vignette configuration option (fix #14)
  src/plugins/Thumbnails.tsx
  src/plugins/thumbnails.scss
Due: eslint --fix

fix: add lightbox variables to slot css properties type declaration (fix #14)
  src/types.ts
Due: eslint --fix

Notes added by 'git notes add'
  c73622fb69623be03764656b89ec5ff14ebca329
Due: none

fix: improve touch swipe reliability
  src/core/modules/Controller.tsx
  src/core/modules/controller/useOffset.ts
  src/core/modules/controller/usePointerSwipe.ts
  src/core/modules/controller/useWheelSwipe.ts
Due: eslint --fix

fix: improve zoom performance
  src/core/components/ImageSlide.tsx
  src/core/utils.ts
  src/plugins/zoom/ResponsiveImage.tsx
  src/plugins/zoom/Zoom.tsx
  src/plugins/zoom/ZoomContainer.tsx
  src/plugins/zoom/ZoomContext.tsx
  src/plugins/zoom/ZoomWrapper.tsx
  src/styles.scss
  src/types.ts
Due: eslint --fix

Notes added by 'git notes add'
  560ac5915b236de7bcae5c841f0251e22796f93e
Due: none

fix: fix responsive image scaling
  src/plugins/zoom/ZoomContainer.tsx
Due: eslint --fix

Notes added by 'git notes add'
  f2812aa9c9183d10e218f8646f1c53446daaf327
Due: none

chore: backport thumbnails.vignette feature
  src/plugins/thumbnails/Thumbnails.tsx
  src/plugins/thumbnails/ThumbnailsTrack.tsx
  src/plugins/thumbnails/index.ts
Due: eslint --fix

chore: update dev dependencies
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9771014ef6b061ae2b48aed38dc43c56304c1c1e
Due: none

fix: fix responsive image -webkit-transform style
  src/plugins/zoom/ResponsiveImage.tsx
Due: eslint --fix

Notes added by 'git notes add'
  1291e19b1dd81d33e7c8b4ed858810f1fb11cbdc
Due: none

fix: fix division by zero in carousel column-gap (fix #15)
  src/core/modules/Carousel.tsx
  src/styles.scss
Due: eslint --fix

Notes added by 'git notes add'
  1f31847e0605dec1890db6856fd7b43840a781b8
Due: none

fix: remove carousel_slides_count css var defaults in carousel styles calculation (fix #15)
  src/styles.scss
Due: none

Notes added by 'git notes add'
  8080e39bc58b840534deb4ed05ed84b42769621e
Due: none

feat: add TypeScript 4.8 support
  package-lock.json
  package.json
  src/types.ts
Due: eslint --fix, prettier --write

chore: add unit tests
  test/Lightbox.spec.ts
  test/jest-setup.ts
  test/plugins/Inline.spec.ts
  test/plugins/Slideshow.spec.ts
  test/utils.tsx
Due: eslint --fix

fix: fix empty slides array edge cases
  src/core/modules/Navigation.tsx
  src/plugins/slideshow/SlideshowButton.tsx
  src/plugins/zoom/ZoomContext.tsx
Due: eslint --fix

chore: update dev dependencies
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

Notes added by 'git notes add'
  8f1ccca18ff8aef38657483b58b486ae54d9c424
Due: none

fix: fix on.click callback
  src/plugins/zoom/ResponsiveImage.tsx
  src/styles.scss
Due: eslint --fix

fix: add default fullscreen button rendering fallback (fix #19)
  src/plugins/fullscreen/FullscreenButton.tsx
Due: eslint --fix

Notes added by 'git notes add'
  b5d2dd85f0eab72c787d1ae50fa2e8162958adbd
Due: none

fix: fix touch-action: pan-y in the Inline plugin (fix #23)
  src/core/modules/Controller.tsx
  src/styles.scss
Due: eslint --fix

Notes added by 'git notes add'
  3308425cad5bb534da608f77e23f522c530b571c
Due: none

fix: fix useMotionPreference hook
  src/core/hooks/useMotionPreference.ts
Due: eslint --fix
