Repository igordanchenko/yet-another-react-lightbox: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: migrate to vitest
  jest.config.json
  package-lock.json
  package.json
  test/Lightbox.spec.ts
  test/core/utils.spec.ts
  test/plugins/Fullscreen.spec.ts
  test/plugins/Inline.spec.ts
  test/plugins/Slideshow.spec.ts
  test/setup.ts
  test/utils.tsx
  vitest.config.ts
Due: eslint --fix, prettier --write

chore: add local dev server
  .eslintrc.json
  CONTRIBUTING.md
  dev/App.tsx
  dev/index.css
  dev/index.html
  dev/index.tsx
  dev/slides.ts
  dev/vite.config.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

fix: stop navigation events propagation in the toolbar
  package-lock.json
  package.json
  src/core/modules/Toolbar.tsx
  src/core/utils.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  8b/f3cd91fd6c7b206a70ac0995eeda103d6ac3fd
Due: none

ci: add unit tests
  src/plugins/inline/Inline.tsx
  src/plugins/thumbnails/ThumbnailsTrack.tsx
  test/plugins/Captions.spec.ts
  test/plugins/Counter.spec.ts
  test/plugins/Download.spec.ts
  test/plugins/Fullscreen.spec.ts
  test/plugins/Inline.spec.ts
  test/plugins/Slideshow.spec.ts
  test/plugins/Thumbnails.spec.ts
  test/plugins/Video.spec.ts
  test/setup.ts
  test/utils.tsx
Due: eslint --fix

feat: add "use client" annotation
  fixup-dist.js
Due: eslint --fix

fix: add css type definition stubs
  fixup-dist.js
  package.json
Due: eslint --fix, prettier --write

fix: minify css
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f8/004fc54dee6c8d2cd904417f476c728c20d020
Due: none

refactor: eliminate circular dependencies
  src/hooks/useLoseFocus.ts
  src/modules/Navigation.tsx
  src/modules/controller/SwipeState.ts
  src/modules/controller/index.ts
  src/modules/controller/useWheelSwipe.ts
  src/plugins/slideshow/SlideshowButton.tsx
  src/plugins/thumbnails/ThumbnailsContext.tsx
  src/plugins/thumbnails/ThumbnailsTrack.tsx
Due: eslint --fix

refactor: introduce usePointerEvents hook
  src/hooks/usePointerEvents.ts
  src/modules/controller/usePointerSwipe.ts
  src/plugins/zoom/hooks/useZoomSensors.ts
Due: eslint --fix

chore: update README
  README.md
Due: none

feat: add closeOnPullDown controller option
  package-lock.json
  package.json
  src/modules/Controller.tsx
  src/modules/controller/usePointerSwipe.ts
  src/props.ts
  src/types.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  80/df05e65377d294db8081759351733a58a1f3a5
Due: none

feat(download): add custom download function (close #126)
  src/plugins/download/Download.tsx
  src/plugins/download/DownloadButton.tsx
  src/plugins/download/index.ts
  src/plugins/download/props.ts
  test/plugins/Download.spec.ts
Due: eslint --fix

feat(share): add Share plugin (close #105)
  README.md
  dev/App.tsx
  dev/index.tsx
  package.json
  src/consts.ts
  src/plugins/index.ts
  src/plugins/share/Share.tsx
  src/plugins/share/ShareButton.tsx
  src/plugins/share/index.ts
  src/plugins/share/props.ts
  src/plugins/share/utils.ts
  test/plugins/Share.spec.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  77/e55831883a246908564b3aa8c5b19b0397b998
Due: none

fix(share): safeguard navigator object access in isShareSupported
  src/plugins/share/utils.ts
Due: eslint --fix

Notes added by 'git notes add'
  95/0a74a53f28aae4434ea1bee1383d80e4499c31
Due: none

chore: code cleanup
  src/plugins/share/utils.ts
Due: eslint --fix

refactor: refactor Controller module
  src/modules/Carousel.tsx
  src/modules/Controller/Controller.tsx
  src/modules/Controller/SwipeState.ts
  src/modules/Controller/index.ts
  src/modules/Controller/usePointerSwipe.ts
  src/modules/Controller/usePreventSwipeNavigation.ts
  src/modules/Controller/useWheelSwipe.ts
  src/modules/Navigation.tsx
  src/modules/Toolbar.tsx
  src/modules/index.ts
Due: eslint --fix

fix: add pull-down visual effect
  src/modules/Controller/Controller.tsx
  src/modules/Controller/SwipeState.ts
  src/modules/Controller/usePointerSwipe.ts
  src/styles.scss
Due: eslint --fix

chore: update dev dependencies
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  19/594e0f8fec7781c8e59522a87876fc567dc1dc
Due: none

fix: streamline usage of custom download and share functions
  src/plugins/download/DownloadButton.tsx
  src/plugins/share/ShareButton.tsx
Due: eslint --fix

Notes added by 'git notes add'
  29/44efbf860c2048a35aa5b2cb6d2fe09439a520
Due: none

feat: provide ability to use custom counter separators besides the default one "/"
  src/plugins/counter/Counter.tsx
  src/plugins/counter/index.ts
  src/plugins/counter/props.ts
Due: eslint --fix

feat(counter): add custom separator (#129)
  src/plugins/counter/Counter.tsx
  src/plugins/counter/index.ts
  src/plugins/counter/props.ts
Due: eslint --fix

Notes added by 'git notes add'
  5d/a0e5417ea4d72d333404af6312e0a95f82bc0c
Due: none

fix: convert `RenderSlideProps` interface to generic
  package-lock.json
  package.json
  src/types.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  5f/fd03612dc63228efec30a401967c0eb3558add
Due: none

feat: add `carousel.imageProps` configuration option (close #131)
  package-lock.json
  package.json
  src/Lightbox.tsx
  src/components/ImageSlide.tsx
  src/modules/Carousel.tsx
  src/plugins/zoom/ZoomWrapper.tsx
  src/props.ts
  src/types.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  c6/93e71d38b96eb4b288940e1c85f6e5f9183941
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.json
