Repository igordanchenko/yet-another-react-lightbox: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx}": ["eslint --fix"],
    "*.json": ["prettier --write"]
}

chore: update package homepage
  package.json
Due: prettier --write

fix: update navigation buttons labels
  src/core/modules/Navigation.tsx
  test/Lightbox.spec.ts
  test/plugins/Inline.spec.ts
Due: eslint --fix

chore: update dev dependencies
  package-lock.json
  package.json
Due: prettier --write

fix: fix custom slide rendering
  package-lock.json
  package.json
  src/core/modules/Carousel.tsx
Due: eslint --fix, prettier --write

fix: fix controller prop
  src/Lightbox.tsx
Due: eslint --fix

build: add separate build step for type declarations preserving comments
  package.json
  tsconfig.build.dts.json
  tsconfig.build.js.json
Due: prettier --write

docs: add inline documentation
  src/Lightbox.tsx
  src/plugins/Fullscreen.tsx
  src/plugins/Inline.tsx
  src/plugins/Video.tsx
  src/types.ts
Due: eslint --fix

fix: rename erroneous title attribute to alt
  src/core/components/ImageSlide.tsx
  src/types.ts
Due: eslint --fix

Notes added by 'git notes add'
  d9be1014cd909b4e05779ce6264a14b460e7dd08
Due: none

chore: fix documentation
  src/types.ts
Due: eslint --fix

fix: update package description
  README.md
Due: none

Notes added by 'git notes add'
  0d328d90d545a21606710f88d467f22963d2f2d7
Due: none

chore: fix documentation
  src/plugins/Fullscreen.tsx
  src/plugins/Inline.tsx
  src/plugins/Video.tsx
Due: eslint --fix

fix: fix ImageSlidePropTypes
  package-lock.json
  package.json
  src/types.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  83b2d4cb913445be43d1f7c35a621fab4e71131c
Due: none

fix: fix ImageSlidePropTypes
  src/types.ts
Due: eslint --fix

Notes added by 'git notes add'
  944abaf2d14eced0b87848745f0d2305cc3ba5c6
Due: none

chore: update copyright notice
  README.md
Due: none

build: eliminate race condition
  package-lock.json
  tsconfig.build.dts.json
Due: prettier --write

fix: prevent invalid swipes
  src/core/modules/Controller.tsx
Due: eslint --fix

feat: introduce Captions plugin
  .gitignore
  package.json
  src/core/modules/Carousel.tsx
  src/plugins/Captions.tsx
  src/plugins/captions.scss
  src/plugins/index.ts
  src/types.ts
  test/plugins/Captions.spec.ts
Due: eslint --fix, prettier --write

feat: make ImageSlide reusable
  src/core/components/ImageSlide.tsx
  src/core/modules/Carousel.tsx
  src/core/modules/Controller.tsx
  src/plugins/Video.tsx
  src/types.ts
  test/plugins/Fullscreen.spec.ts
Due: eslint --fix

Notes added by 'git notes add'
  17ee025837e21e15736ff4f9e130d76b0216dc56
Due: none

chore: update README
  README.md
Due: none

fix: include padding in the container rect calculations
  src/core/hooks/useContainerRect.ts
Due: eslint --fix

fix: adjust maxWidth for devicePixelRatio
  src/core/components/ImageSlide.tsx
  src/core/hooks/useEnhancedEffect.ts
  src/core/utils.ts
  src/plugins/Video.tsx
Due: eslint --fix

fix: improve title padding accuracy
  src/core/modules/Toolbar.tsx
  src/plugins/Captions.tsx
  src/plugins/captions.scss
  src/styles.scss
Due: eslint --fix

fix: fix Fullscreen plugin compatibility with Inline
  src/plugins/Fullscreen.tsx
Due: eslint --fix

Notes added by 'git notes add'
  cab1a551af37b8fca092428e7709464b01eed698
Due: none

feat: overhaul Video plugin, add additional video attributes, add autoplay mode
  src/plugins/Video.tsx
Due: eslint --fix

Notes added by 'git notes add'
  13e6cf32f25467258429095b95394d2072bca00c
Due: none

docs: fix typo
  src/plugins/Video.tsx
Due: eslint --fix

feat: introduce Slideshow plugin
  README.md
  package-lock.json
  package.json
  src/core/components/ImageSlide.tsx
  src/core/consts.ts
  src/core/index.ts
  src/core/modules/Carousel.tsx
  src/plugins/Slideshow.tsx
  src/plugins/Video.tsx
  src/plugins/index.ts
  test/plugins/Slideshow.spec.ts
Due: eslint --fix, prettier --write

feat: add RTL support
  README.md
  src/core/modules/Controller.tsx
  src/core/modules/Navigation.tsx
  src/styles.scss
Due: eslint --fix

feat: drop prop-types dependency
  package-lock.json
  package.json
  src/Lightbox.tsx
  src/plugins/Video.tsx
  src/types.ts
Due: eslint --fix, prettier --write

fix: fix vertical page scroll over inline lightbox
  src/core/modules/Controller.tsx
Due: eslint --fix

Notes added by 'git notes add'
  a0c836ed971913b1dc777642e6cd9a6a64f14e8a
Due: none
