Repository igordanchenko/yet-another-react-lightbox: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Notes added by 'git notes add'
  ba/fdda06349c26e2ee0812eaff01199574e41c4f
Due: none

Update nextjs.md to include thumbnails section
  docs/examples/nextjs.md
Due: prettier --write

docs: simplify Next.js Thumbnails example
  docs/examples/nextjs.md
Due: prettier --write

docs: add Next.js Thumbnails plugin example
  docs/examples/nextjs.md
Due: prettier --write

chore: update dev dependencies
  package-lock.json
  package.json
Due: prettier --write

fix: safeguard image dimensions formulas against invalid srcSet data
  src/components/ImageSlide.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  10/11db4234a7e1f5bbd57c778bd23bf4a9f674c7
Due: none

style(lightbox): white background
  src/_common.scss
  src/styles.scss
Due: none

feat: update previous/next icons
  src/components/Icons.tsx
Due: eslint --fix, prettier --write

feat: update zoom icons
  src/plugins/zoom/ZoomButton.tsx
Due: eslint --fix, prettier --write

Fix typo
  docs/examples/nextjs.md
Due: prettier --write

docs: fix typo in nextjs example
  docs/examples/nextjs.md
Due: prettier --write

docs: update README
  README.md
Due: prettier --write

docs: format docs
  .editorconfig
  .prettierrc.json
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
  SECURITY.md
  docs/advanced.md
  docs/customization.md
  docs/documentation.md
  docs/examples.md
  docs/examples/basic.md
  docs/examples/carousel.md
  docs/examples/custom-slides.md
  docs/examples/gallery.md
  docs/examples/nextjs.md
  docs/plugins.md
  docs/plugins/captions.md
  docs/plugins/counter.md
  docs/plugins/download.md
  docs/plugins/fullscreen.md
  docs/plugins/inline.md
  docs/plugins/share.md
  docs/plugins/slideshow.md
  docs/plugins/thumbnails.md
  docs/plugins/video.md
  docs/plugins/zoom.md
Due: prettier --write

fix(thumbnails): fix thumbnails count in finite carousel mode (fix #185)
  src/modules/Carousel.tsx
  src/plugins/thumbnails/ThumbnailsTrack.tsx
  src/utils.ts
  test/unit/plugins/Thumbnails.spec.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  f6/3f6af90a2e0d70fe04a126001076151178eb78
Due: none

ci: update workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

feat(zoom): make `changeZoom` method public (fix #195)
  docs/plugins/zoom.md
  src/plugins/zoom/ZoomController.tsx
  src/plugins/zoom/hooks/useZoomState.ts
  src/plugins/zoom/index.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  e0/1816640c6b6b1609b9458bc3850c5fbcea250c
Due: none

fix(thumbnails): enable keyboard navigation in the thumbnails track (fix #196)
  src/hooks/useSensors.ts
  src/modules/Controller/Controller.tsx
  src/modules/Navigation/Navigation.tsx
  src/modules/Navigation/index.ts
  src/modules/Navigation/useKeyboardNavigation.ts
  src/modules/Navigation/useNavigationState.ts
  src/modules/index.ts
  src/plugins/thumbnails/Thumbnail.tsx
  src/plugins/thumbnails/ThumbnailsTrack.tsx
  src/plugins/thumbnails/thumbnails.scss
  src/styles.scss
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  96/c6a4429baad6bad7a9be297cebea4d899a0dda
Due: none

refactor: refactor hooks
  src/hooks/useContainerRect.ts
  src/hooks/usePointerEvents.ts
  src/hooks/useSensors.ts
Due: eslint --fix, prettier --write

feat: add NoScroll module configuration (fix #180)
  docs/documentation.md
  src/Lightbox.tsx
  src/modules/NoScroll.tsx
  src/props.ts
  src/types.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  9f/3bb7fac3e98b2afe98cb406c5da9429cbf7ea0
Due: none

docs: format docs
  docs/documentation.md
Due: prettier --write

docs: add Tracking Slide Index example
  docs/documentation.md
Due: prettier --write

ci: cleanup workflow
  .github/workflows/docs.yml
Due: none

ci: update node versions
  .github/workflows/ci.yml
Due: none

refactor: refactor fixup-dist script
  fixup-dist.js
Due: eslint --fix, prettier --write

ci: switch release workflow to node 20
  .github/workflows/release.yml
Due: none

docs: update badges
  README.md
Due: prettier --write

feat: return focus on close (fix #199)
  package-lock.json
  package.json
  src/modules/Controller/Controller.tsx
  src/modules/Portal.tsx
  src/types.ts
Due: eslint --fix, prettier --write

fix: re-enable navigation events propagation in the toolbar
  src/modules/Toolbar.tsx
  src/utils.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  25/dcc7d49e87323fe10179ee6348885152800150
Due: none

docs: deprecate controller.focus prop
  docs/documentation.md
Due: prettier --write

fix: make thumbnail placeholder key unique (fix #201)
  src/plugins/thumbnails/ThumbnailsTrack.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,json})
