Repository igordanchenko/yet-another-react-lightbox: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: update dev dependencies
  package-lock.json
Due: prettier --write

Notes added by 'git notes add'
  3ae28d1fca631f7dc31fc9d56a9c43551f9afd21
Due: none

feat: support scrolling and touch swipe behavior for thumbnails
  docs/customization.md
  docs/plugins/thumbnails.md
  src/plugins/thumbnails/Thumbnail.tsx
  src/plugins/thumbnails/ThumbnailsContext.tsx
  src/plugins/thumbnails/ThumbnailsTrack.tsx
  src/plugins/thumbnails/index.ts
  src/plugins/thumbnails/thumbnails.scss
  test/types/src/App.tsx
  test/unit/plugins/Thumbnails.spec.ts
  test/unit/setup.ts
Due: eslint --fix, prettier --write

fix: re-detect RTL direction on every render to support dynamic dir changes
  src/components/LightboxRoot.tsx
  test/unit/RTL.spec.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  557805264799d436f8dae40414faf3318b468954
Due: none

chore: update dev dependencies
  package-lock.json
  package.json
  rollup.config.js
Due: eslint --fix, prettier --write

chore: update dev dependencies
  package-lock.json
  package.json
Due: prettier --write

chore: suppress outdated JSX transform warning in tests
  test/unit/setup.ts
Due: eslint --fix, prettier --write

ci: add preview package workflow using pkg.pr.new
  .github/workflows/preview.yml
Due: none

feat: support zoom on custom slide types (fix #407)
  docs/plugins/zoom.md
  src/plugins/zoom/Zoom.tsx
  src/plugins/zoom/ZoomWrapper.tsx
  src/plugins/zoom/hooks/useZoomImageRect.ts
  src/plugins/zoom/hooks/useZoomState.ts
  src/plugins/zoom/index.ts
  src/plugins/zoom/props.ts
  test/types/src/App.tsx
  test/unit/plugins/Zoom.spec.ts
Due: eslint --fix, prettier --write

ci: disable StackBlitz template link in preview comments
  .github/workflows/preview.yml
Due: none

ci: publish preview packages on feat and preview branches
  .github/workflows/preview.yml
Due: none

feat: support zoom on custom slide types (#408)
  docs/plugins/zoom.md
  src/plugins/zoom/Zoom.tsx
  src/plugins/zoom/ZoomWrapper.tsx
  src/plugins/zoom/hooks/useZoomImageRect.ts
  src/plugins/zoom/hooks/useZoomState.ts
  src/plugins/zoom/index.ts
  src/plugins/zoom/props.ts
  test/types/src/App.tsx
  test/unit/plugins/Zoom.spec.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  2861732969a182075ba19d3a001b34c3a38a3081
Due: none

ci: harden preview workflow to match release pipeline
  .github/workflows/preview.yml
  .github/workflows/release.yml
Due: none

ci: replace bahmutov/npm-install with built-in setup-node caching
  .github/workflows/ci.yml
Due: none

feat: create filmstrip plugin
  README.md
  dev/AppWithFilmstrip.tsx
  dev/index.tsx
  docs/customization.md
  docs/plugins/filmstrip.md
  package.json
  src/components/ImageSlide.tsx
  src/consts.ts
  src/contexts/LightboxState.tsx
  src/modules/Controller/Controller.tsx
  src/plugins/filmstrip/Filmstrip.tsx
  src/plugins/filmstrip/FilmstripButton.tsx
  src/plugins/filmstrip/FilmstripContext.tsx
  src/plugins/filmstrip/FilmstripThumbnail.tsx
  src/plugins/filmstrip/FilmstripTrack.tsx
  src/plugins/filmstrip/filmstrip.scss
  src/plugins/filmstrip/index.ts
  src/plugins/filmstrip/props.ts
  src/plugins/filmstrip/utils.ts
  src/plugins/fullscreen/Fullscreen.tsx
  src/plugins/index.ts
  src/types.ts
  test/unit/plugins/Filmstrip.spec.ts
Due: eslint --fix, prettier --write

update
  docs/plugins.md
  docs/plugins/filmstrip.md
Due: prettier --write

update
  docs/plugins/filmstrip.md
Due: prettier --write

update
  dev/AppWithFilmstrip.tsx
Due: eslint --fix, prettier --write

fix: restore pointer-events when nested in pointer-events:none modals
  src/styles.scss
Due: none

fix: stop propagation of handled keyboard events
  src/modules/Navigation/useKeyboardNavigation.ts
Due: eslint --fix, prettier --write

feat: support function provider for portal.root
  docs/documentation.md
  src/modules/Portal.tsx
  src/types.ts
Due: eslint --fix, prettier --write

feat: add controller.closeOnEscape setting
  docs/documentation.md
  src/modules/Navigation/useKeyboardNavigation.ts
  src/props.ts
  src/types.ts
Due: eslint --fix, prettier --write

chore: update gitignore
  .gitignore
Due: none

Notes added by 'git notes add'
  344f56d28ef89670eee619f6299d84ac79ab413b
Due: none

chore: bump dessant/lock-threads to v6.0.2
  .github/workflows/lock.yml
Due: none

fix: use server-provided filename for cross-origin downloads
  src/plugins/download/FileSaver.ts
  test/unit/plugins/Download.spec.ts
Due: eslint --fix, prettier --write

fix(download): use server-provided filename for cross-origin downloads (#417)
  src/plugins/download/FileSaver.ts
  test/unit/plugins/Download.spec.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  18dc3afe76de67c4f6ea576ab9289b98bf36c550
Due: none

docs: add project logo
  .github/logo.webp
  README.md
Due: prettier --write

ci: remove CodeQL workflow
  .github/workflows/codeql.yml
Due: none

chore: remove Dependabot configuration
  .github/dependabot.yml
Due: none

ci: overhaul GitHub Actions workflows
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/lock.yml
  .github/workflows/preview.yml
  .github/workflows/release.yml
Due: none

chore: configure Renovate
  renovate.json
Due: prettier --write

chore: add pre-push commit linting and run hook binaries directly
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  package-lock.json
  package.json
Due: prettier --write

chore: align commit tooling with the Conventional Commits spec
  .commitlintrc.json
  .releaserc.json
Due: prettier --write

chore: ignore macOS .DS_Store files
  .gitignore
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,json})
