Repository igordanchenko/yet-another-react-lightbox: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: fix captions flickering in Safari
  src/plugins/captions.scss
Due: none

chore: update .editorconfig
  .editorconfig
Due: none

docs: update README
  README.md
Due: none

Notes added by 'git notes add'
  50d21a70a769c5a8859effecd0e222bdc9ddadca
Due: none

fix: Correctly set sideEffects for CSS treeshaking
  package.json
Due: prettier --write

fix: set sideEffects for CSS treeshaking (#3)
  package.json
Due: prettier --write

refactor: refactor zoom effects
  src/plugins/Zoom.tsx
Due: eslint --fix

Notes added by 'git notes add'
  02169db4dbf9e36bdeba10ef80fdea5add739e75
Due: none

fix: account for original padding and fixed elements when applying scrollbar padding
  src/core/modules/NoScroll.tsx
  src/core/modules/Portal.tsx
  src/styles.scss
Due: eslint --fix

refactor: rename useLayoutEffect hook
  src/core/hooks/index.ts
  src/core/hooks/useEnhancedEffect.ts
  src/core/hooks/useLayoutEffect.ts
  src/core/hooks/useMotionPreference.ts
  src/core/hooks/useRTL.ts
  src/core/modules/Controller.tsx
  src/core/modules/NoScroll.tsx
  src/plugins/Thumbnails.tsx
  src/plugins/Zoom.tsx
Due: eslint --fix

fix: cleanup mediaQuery event listener on unmount
  src/core/hooks/useMotionPreference.ts
Due: eslint --fix

fix: streamline portal implementation
  src/core/modules/Portal.tsx
Due: eslint --fix

feat: set aria-hidden and inert attributes on portal siblings
  src/core/modules/Controller.tsx
  src/core/modules/Portal.tsx
  src/plugins/Inline.tsx
  src/types.ts
Due: eslint --fix

chore: update dev dependencies
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c94e4161dddf774d658e070fb667b8c87153acbe
Due: none

feat: add scrollToZoom option (fix #8)
  src/plugins/Zoom.tsx
Due: eslint --fix

feat: add onClick callback (fix #10)
  src/core/components/ImageSlide.tsx
  src/core/modules/Carousel.tsx
  src/types.ts
Due: eslint --fix

fix: reset width, height, max-width, max-height video element styles
  src/plugins/Video.tsx
Due: eslint --fix

chore: deprecate the useLatest hook
  src/core/hooks/useLatest.ts
Due: eslint --fix

Notes added by 'git notes add'
  143d714dcd233680cf3fe274ce5de8ef69e0608f
Due: none

fix: prevent default browser action on zoom hotkeys
  src/plugins/Zoom.tsx
Due: eslint --fix

fix: adjust max zoom on window resize
  src/plugins/Zoom.tsx
Due: eslint --fix

Notes added by 'git notes add'
  09214697ff6e31ab82dd2ab34c79fcd2cb47e130
Due: none

feat: simplify Captions plugin CSS styles (fix #13)
  src/plugins/Captions.tsx
  src/plugins/captions.scss
Due: eslint --fix

Notes added by 'git notes add'
  f37d4bdd9daac835ee59d2cb1edc5aa5ca075fa4
Due: none

feat: add closeOnBackdropClick option (fix #12)
  src/core/components/ImageSlide.tsx
  src/core/consts.ts
  src/core/modules/Carousel.tsx
  src/core/modules/Controller.tsx
  src/plugins/Thumbnails.tsx
  src/styles.scss
  src/types.ts
Due: eslint --fix

feat: introduce customization slots and css variables (fix #6)
  src/_common.scss
  src/core/components/IconButton.tsx
  src/core/modules/Controller.tsx
  src/core/modules/Portal.tsx
  src/plugins/Captions.tsx
  src/plugins/Fullscreen.tsx
  src/plugins/Inline.tsx
  src/plugins/Slideshow.tsx
  src/plugins/Thumbnails.tsx
  src/plugins/Video.tsx
  src/plugins/Zoom.tsx
  src/plugins/captions.scss
  src/plugins/thumbnails.scss
  src/styles.scss
  src/types.ts
Due: eslint --fix

Notes added by 'git notes add'
  924bbc0dfe374e11ece01b2778e8c3843c7f7dea
Due: none

fix: fix occasional thumbnails shrinking
  src/plugins/thumbnails.scss
Due: none

Notes added by 'git notes add'
  f588832f78af5825cce8be70a36db8d1c8536522
Due: none

revert: fix: fix occasional thumbnails shrinking
  src/plugins/thumbnails.scss
Due: none

Notes added by 'git notes add'
  89fa190408e9abac65450869138748c6f86feb35
Due: none

fix: fix occasional thumbnails shrinking
  src/styles.scss
Due: none

Notes added by 'git notes add'
  06f9b59c891a7e65830b7f0f21f27010f0ace8f0
Due: none

fix: fix clickable backdrop area around the image
  src/core/components/ImageSlide.tsx
  src/styles.scss
Due: eslint --fix

Notes added by 'git notes add'
  ede4065c532c3a7719e85a72cb4ff0fc525e497c
Due: none

feat: update type declarations
  .github/workflows/release.yml
  src/Lightbox.tsx
  src/core/components/ImageSlide.tsx
  src/core/contexts/Events.tsx
  src/core/contexts/Timeouts.tsx
  src/core/hooks/index.ts
  src/core/hooks/useEventCallback.ts
  src/core/modules/Carousel.tsx
  src/core/modules/Controller.tsx
  src/core/modules/Portal.tsx
  src/core/utils.ts
  src/plugins/Captions.tsx
  src/plugins/Thumbnails.tsx
  src/plugins/Video.tsx
  src/plugins/Zoom.tsx
  src/props.ts
  src/types.ts
  test/plugins/Slideshow.spec.ts
Due: eslint --fix

chore: move plugins to subfolders
  package.json
  src/plugins/Captions.tsx
  src/plugins/captions/Captions.tsx
  src/plugins/captions/CaptionsContext.tsx
  src/plugins/captions/Description.tsx
  src/plugins/captions/Title.tsx
  src/plugins/captions/index.ts
  src/plugins/captions/styles.scss
  src/plugins/captions/utils.ts
  src/plugins/fullscreen/Fullscreen.tsx
  src/plugins/fullscreen/FullscreenButton.tsx
  src/plugins/fullscreen/FullscreenContext.tsx
  src/plugins/fullscreen/index.ts
  src/plugins/index.ts
  src/plugins/inline/Inline.tsx
  src/plugins/inline/index.ts
  src/plugins/slideshow/Slideshow.tsx
  src/plugins/slideshow/SlideshowButton.tsx
  src/plugins/slideshow/index.ts
  src/plugins/thumbnails/Thumbnails.tsx
  src/plugins/thumbnails/index.ts
  src/plugins/thumbnails/styles.scss
  src/plugins/video/Video.tsx
  src/plugins/video/VideoSlide.tsx
  src/plugins/video/index.ts
  src/plugins/zoom/Zoom.tsx
  src/plugins/zoom/ZoomButton.tsx
  src/plugins/zoom/ZoomButtonsGroup.tsx
  src/plugins/zoom/ZoomContainer.tsx
  src/plugins/zoom/ZoomContext.tsx
  src/plugins/zoom/ZoomWrapper.tsx
  src/plugins/zoom/index.ts
  src/types.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.json
