Repository igordanchenko/yet-another-react-lightbox: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: slideshow not playing in fullscreen mode with zoom plugin
  src/core/components/ImageSlide.tsx
  src/plugins/fullscreen/Fullscreen.tsx
  src/plugins/fullscreen/FullscreenButton.tsx
  src/plugins/fullscreen/FullscreenContext.tsx
  src/plugins/fullscreen/index.ts
  src/plugins/slideshow/Slideshow.tsx
  src/plugins/slideshow/SlideshowButton.tsx
  src/plugins/slideshow/SlideshowContext.tsx
  src/plugins/video/Video.tsx
  test/plugins/Fullscreen.spec.ts
Due: eslint --fix

chore: update dev dependencies
  package-lock.json
  package.json
Due: prettier --write

fix: transfer focus when navigation buttons get disabled
  src/core/hooks/index.ts
  src/core/hooks/useLoseFocus.ts
  src/core/modules/Navigation.tsx
Due: eslint --fix

fix: prevent invalid keyboard navigation events
  src/core/modules/Navigation.tsx
Due: eslint --fix

Notes added by 'git notes add'
  51fe61edfd3688e35d1d6cd2276abcc7f3edecf4
Due: none

revert: chore: update dev dependencies
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  4b265745908c5ed9b7d6d1d2071a1583d170a895
Due: none

fix: improve css compatibility with legacy browsers
  package-lock.json
  package.json
  src/styles.scss
Due: prettier --write

Notes added by 'git notes add'
  39fd3b41af11c79e0238c6c6b9380f94898814dd
Due: none

build: revert package-lock.json lockfileVersion to 2
  package-lock.json
Due: prettier --write

chore: lock npm lockfile version at 2
  .npmrc
Due: none

fix: fix zoom plugin for small images (fix #75)
  src/plugins/zoom/ZoomContainer.tsx
Due: eslint --fix

fix: fix zoom plugin for imageFit cover and srcSet images
  src/plugins/zoom/ResponsiveImage.tsx
Due: eslint --fix

fix: fix up index prop when out of bounds
  src/Lightbox.tsx
  src/core/config.ts
Due: eslint --fix

Notes added by 'git notes add'
  2f100ae931a81602e91d94f88ab7e0a3388a574b
Due: none

docs: update contribution guide
  CONTRIBUTING.md
Due: none

feat: add navigation animation override
  src/core/hooks/useDelay.ts
  src/core/modules/Controller.tsx
  src/core/modules/Navigation.tsx
  src/plugins/thumbnails/ThumbnailsTrack.tsx
  src/types.ts
Due: eslint --fix

Notes added by 'git notes add'
  59ca5c222fd90fe196021656ecb9d09e07327743
Due: none

fix: fix navigation animation duration override in slideshow mode
  package-lock.json
  package.json
  src/core/modules/Controller.tsx
  src/core/modules/Navigation.tsx
  src/plugins/thumbnails/ThumbnailsTrack.tsx
Due: eslint --fix, prettier --write

fix: fix captions description style props (fix #82)
  package-lock.json
  package.json
  src/plugins/captions/Description.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  75f164772cfac6135cc0a2c7031303a4877af1b1
Due: none

fix: fix zoom animation easing
  src/plugins/zoom/ZoomContainer.tsx
Due: eslint --fix

feat: add animation easing function override (fix #80)
  src/core/contexts/LightboxState.tsx
  src/core/hooks/useAnimation.ts
  src/core/modules/Controller.tsx
  src/core/modules/Navigation.tsx
  src/core/modules/Portal.tsx
  src/core/utils.ts
  src/plugins/thumbnails/ThumbnailsTrack.tsx
  src/props.ts
  src/types.ts
Due: eslint --fix

Notes added by 'git notes add'
  9b7749700a18acb1abf652deac91a51b5c8434a3
Due: none

chore: update github issue template
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

chore: add v3 TODO
  src/types.ts
Due: eslint --fix

docs: update README
  README.md
Due: none

refactor: introduce RenderFunction type
  src/plugins/fullscreen/index.ts
  src/plugins/slideshow/index.ts
  src/plugins/thumbnails/index.ts
  src/plugins/zoom/index.ts
  src/types.ts
Due: eslint --fix

fix: fix slide container rect sizing (fix #85)
  src/core/modules/Carousel.tsx
  src/styles.scss
Due: eslint --fix

Notes added by 'git notes add'
  ee6cb5834c99793d97bc79481ab37d1104cab937
Due: none

fix: fix zoomed in image aspect ratio with custom render function (fix #86)
  src/plugins/zoom/ZoomContainer.tsx
Due: eslint --fix

refactor: export isImageFitCover utility function
  src/core/components/ImageSlide.tsx
  src/core/utils.ts
  src/plugins/zoom/ResponsiveImage.tsx
  src/plugins/zoom/ZoomContainer.tsx
Due: eslint --fix

Notes added by 'git notes add'
  5f955482dc1597c42d5b6f0f789ee56d57651254
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.json
