Repository igordanchenko/yet-another-react-lightbox: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
    "*.{md,json}": ["prettier --write"]
}

Notes added by 'git notes add'
  ea/692bf506ce9399499d5891e8d38684746ffcfe
Due: none

chore: update dev dependencies
  package-lock.json
  package.json
  src/hooks/useSensors.ts
  src/types.ts
Due: eslint --fix, prettier --write

fix: make `closeOnBackdropClick` compatible with Video plugin (fix #204)
  src/consts.ts
  src/modules/Carousel.tsx
  src/plugins/video/VideoSlide.tsx
  src/plugins/zoom/ZoomWrapper.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  41/9826273cd2e1ef4a5f702a9ad13b3ac49bbe1e
Due: none

chore: update dev dependencies
  package-lock.json
  package.json
Due: prettier --write

fix(thumbnails): fix thumbnails border styling (fix #208)
  docs/plugins/thumbnails.md
  src/plugins/thumbnails/ThumbnailsTrack.tsx
  src/plugins/thumbnails/index.ts
  src/plugins/thumbnails/thumbnails.scss
  test/types/src/App.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  44/3ba5f1c86daf6903cf415391d05dfbeeb36f1a
Due: none

fix: fix portal cleanup (fix #209)
  src/modules/Portal.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  02/d8f496153cc2278d1822e01f2b4e2026a2a0bd
Due: none

fix: do not interrupt animation on no-op external state updates (fix #212)
  package-lock.json
  package.json
  src/contexts/LightboxState.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  32/a7a500cdf7df767f74fd9a46ed5819d67b821c
Due: none

fix: safeguard against invalid index prop (fix #216)
  package-lock.json
  package.json
  src/Lightbox.tsx
  src/hooks/useAnimation.ts
  src/modules/NoScroll.tsx
  src/utils.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  92/df07a7179424781d36e8f1fa0b53b90aceea74
Due: none

chore: update dev dependencies
  package-lock.json
  package.json
  vitest.config.ts
Due: eslint --fix, prettier --write

chore: cleanup unit tests
  package-lock.json
  package.json
  test/unit/Lightbox.spec.ts
  test/unit/plugins/Slideshow.spec.ts
  test/unit/utils.tsx
Due: eslint --fix, prettier --write

feat: add closeOnPullUp controller option
  docs/documentation.md
  src/modules/Controller/Controller.tsx
  src/modules/Controller/SwipeState.ts
  src/modules/Controller/usePointerSwipe.ts
  src/props.ts
  src/styles.scss
  src/types.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  98e095aca721bef11c16fae0e847dc0cbd0d9c89
Due: none

chore: remove .browserslistrc
  .browserslistrc
Due: none

docs: update Next.js example
  docs/examples/nextjs.md
Due: prettier --write

docs: add changelog link
  README.md
Due: prettier --write

chore: upgrade husky
  .husky/commit-msg
  .husky/pre-commit
  package-lock.json
  package.json
Due: prettier --write

refactor: code cleanup
  src/plugins/zoom/hooks/useZoomImageRect.ts
  src/plugins/zoom/hooks/useZoomState.ts
Due: eslint --fix, prettier --write

docs: add Zoom plugin requirements
  docs/plugins/zoom.md
Due: prettier --write

docs: update contact email
  CODE_OF_CONDUCT.md
  SECURITY.md
Due: prettier --write

docs: migrate examples from CodeSandbox to StackBlitz
  docs/documentation.md
  docs/examples.md
  docs/examples/basic.md
  docs/examples/carousel.md
  docs/examples/custom-slides.md
  docs/examples/gallery.md
  docs/examples/nextjs.md
  docs/examples/playground.md
  docs/plugins.md
  docs/plugins/captions.md
  docs/plugins/counter.md
  docs/plugins/download.md
  docs/plugins/fullscreen.md
  docs/plugins/inline.md
  docs/plugins/share.md
  docs/plugins/slideshow.md
  docs/plugins/thumbnails.md
  docs/plugins/video.md
  docs/plugins/zoom.md
Due: prettier --write

feat(fullscreen): add `enterFullscreen` and `exitFullscreen` callbacks
  docs/plugins/fullscreen.md
  src/plugins/fullscreen/FullscreenContext.tsx
  src/plugins/fullscreen/index.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  4293be39d797fd315713f947e3120994e30e669e
Due: none

chore: add sandbox link to bug report template
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

chore: update dev template
  dev/index.tsx
  dev/styles.css
Due: eslint --fix, prettier --write

ci: decrease workflow jobs timeouts
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
Due: none

fix: prevent vertical scroll in inline mode with `scrollToZoom` (fix #248)
  src/modules/Controller/Controller.tsx
  src/modules/Controller/index.ts
  src/modules/Controller/usePreventSwipeNavigation.ts
  src/modules/Controller/usePreventWheelDefaults.ts
  src/plugins/zoom/Zoom.tsx
  src/props.ts
  src/types.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  95676237e2b0ed6f21619442d2f29e6273602b19
Due: none

refactor: refactor utils
  src/utils.ts
Due: eslint --fix, prettier --write

chore: deprecate controller.touchAction prop
  docs/documentation.md
  src/plugins/inline/Inline.tsx
  src/types.ts
Due: eslint --fix, prettier --write
