Repository igordanchenko/yet-another-react-lightbox: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
    "*.{md,json}": ["prettier --write"]
}

fix(zoom): fix blurred image in Safari (fix #290)
  src/consts.ts
  src/plugins/zoom/ResponsiveImage.tsx
  src/plugins/zoom/ZoomWrapper.tsx
  src/styles.scss
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  e6ab6e81d0f76e04dda4314952815cc9b1afa502
Due: none

Add title attribute to IconButton for enhanced accessibility
  src/components/IconButton.tsx
Due: eslint --fix, prettier --write

refactor: add title attribute to IconButton for enhanced accessibility
  src/components/IconButton.tsx
Due: eslint --fix, prettier --write

feat: add title attribute to IconButton for enhanced accessibility
  src/components/IconButton.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  46c779ad98fbe3e67465568e01a0be5eb6d907fa
Due: none

fix: fix types references in plugins module augmentation
  src/plugins/download/index.ts
  src/plugins/thumbnails/index.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  e33fcf9715ef995d25519c4c6387744eaf5f5f53
Due: none

chore: update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

chore: update dev dependencies
  package-lock.json
  package.json
  src/modules/Controller/Controller.tsx
  src/plugins/zoom/hooks/useZoomAnimation.ts
Due: eslint --fix, prettier --write

fix: mark offscreen slides as aria-hidden (fix #297)
  src/modules/Carousel.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  2b9816b59d84f3ed15235509e324362587eb26de
Due: none

fix: add type definitions for translation labels
  docs/documentation.md
  src/components/IconButton.tsx
  src/modules/Navigation/Navigation.tsx
  src/plugins/captions/index.ts
  src/plugins/download/index.ts
  src/plugins/fullscreen/index.ts
  src/plugins/share/index.ts
  src/plugins/slideshow/index.ts
  src/plugins/thumbnails/index.ts
  src/plugins/zoom/index.ts
  src/types.ts
  src/utils.ts
  test/types/src/App.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  3d12ec753caa7d52db69745a9bab8df733dca21b
Due: none

chore: code cleanup
  test/unit/plugins/Thumbnails.spec.ts
  test/unit/setup.ts
Due: eslint --fix, prettier --write

ci: streamline ci scripts
  .github/workflows/ci.yml
  .github/workflows/release.yml
  package.json
  vitest.config.ts
Due: eslint --fix, prettier --write

ci: update release workflow
  .github/workflows/release.yml
Due: none

ci: update docs workflow
  .github/workflows/docs.yml
Due: none

docs: add custom label example
  docs/advanced.md
Due: prettier --write

fix(zoom): ignore context menu pointer events
  src/plugins/zoom/hooks/useZoomSensors.ts
Due: eslint --fix, prettier --write

fix(zoom): fix incremental zoom scale
  src/plugins/zoom/hooks/useZoomSensors.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  fa09bbe062bb8a8065fc0369ae0c9bc2f0b1ff29
Due: none

fix: mark offscreen slides inert (fix #304)
  src/modules/Carousel.tsx
  src/modules/Portal.tsx
  src/utils.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  7af43e13c195bf84e8888038f3f755f0aae98abc
Due: none

chore: add lock workflow
  .github/workflows/lock.yml
Due: none

chore: update lock workflow
  .github/workflows/lock.yml
Due: none

chore: update docs workflow
  .github/workflows/docs.yml
Due: none

fix: fix horizontal scroll mouse button navigation (fix #305)
  src/modules/Controller/useWheelSwipe.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  626368bad0e0537fba9c19c47a17ceca7c11de1a
Due: none

chore: update dev dependencies
  package-lock.json
  package.json
Due: prettier --write

ci: add node 22 to ci matrix
  .github/workflows/ci.yml
Due: none

ci: switch release workflow to node 22
  .github/workflows/release.yml
Due: none

refactor: migrate scss modules
  src/plugins/captions/captions.scss
  src/plugins/counter/counter.scss
  src/plugins/thumbnails/thumbnails.scss
  src/styles.scss
Due: none

fix(video): prevent offscreen video slide playback on swipe (fix #316)
  src/plugins/video/VideoSlide.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  b91a18ab5b531f5cb2530baba8da1e386f6f3570
Due: none

chore: upgrade to vitest@3, vite@6
  package-lock.json
  package.json
Due: prettier --write
