Repository igordanchenko/yet-another-react-lightbox: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: upgrade to react@19
  package-lock.json
  package.json
  src/components/ImageSlide.tsx
  src/components/LightboxRoot.tsx
  src/contexts/DocumentContext.tsx
  src/hooks/useAnimation.ts
  src/hooks/useContainerRect.ts
  src/hooks/useDelay.ts
  src/hooks/useLoseFocus.ts
  src/modules/Carousel.tsx
  src/modules/Controller/Controller.tsx
  src/modules/Controller/usePointerSwipe.ts
  src/modules/Controller/usePreventWheelDefaults.ts
  src/modules/Controller/useWheelSwipe.ts
  src/modules/Portal.tsx
  src/plugins/fullscreen/FullscreenContext.tsx
  src/plugins/slideshow/SlideshowContext.tsx
  src/plugins/thumbnails/ThumbnailsContext.tsx
  src/plugins/thumbnails/ThumbnailsTrack.tsx
  src/plugins/video/VideoSlide.tsx
  src/plugins/zoom/ZoomButtonsGroup.tsx
  src/plugins/zoom/ZoomController.tsx
  src/plugins/zoom/hooks/useZoomAnimation.ts
  src/plugins/zoom/hooks/useZoomSensors.ts
  src/plugins/zoom/hooks/useZoomState.ts
  src/utils.ts
  test/unit/core/utils.spec.ts
Due: eslint --fix, prettier --write

chore: upgrade to eslint@9
  .eslintrc.json
  .lintstagedrc.json
  dev/vite.config.ts
  eslint.config.js
  fixup-dist.js
  package-lock.json
  package.json
  rollup.config.js
  src/components/Icons.tsx
  src/hooks/useAnimation.ts
  src/hooks/useForkRef.ts
  src/hooks/useThrottle.ts
  src/plugins/captions/Description.tsx
  src/plugins/download/FileSaver.ts
  src/plugins/fullscreen/FullscreenContext.tsx
  src/types.ts
  test/types/index.js
  test/types/src/App.tsx
  test/unit/core/utils.spec.ts
  test/unit/plugins/Fullscreen.spec.ts
  test/unit/plugins/Thumbnails.spec.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

chore: update dev dependencies
  package-lock.json
  package.json
Due: prettier --write

fix: prevent zoom buttons from interrupting slideshow playback (fix #331)
  src/plugins/zoom/ResponsiveImage.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  5e146a3bcb0fa32e073d374b941ea67d15272a5f
Due: none

docs: update examples
  docs/examples/nextjs.md
Due: prettier --write

chore: update sample images
  dev/slides.ts
  test/types/src/App.tsx
Due: eslint --fix, prettier --write

docs: update demo image link
  README.md
Due: prettier --write

fix: fix zoom shortcuts on Linux (fix #344)
  src/plugins/zoom/hooks/useZoomSensors.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  8d9c0e0b61a1d4c0c23e4b38ae6ceff9c813244f
Due: none

docs(zoom): deprecate doubleTapDelay and doubleClickDelay
  docs/plugins/zoom.md
  src/plugins/zoom/index.ts
Due: eslint --fix, prettier --write

feat: add option to disable swipe navigation (fix #345)
  docs/documentation.md
  src/modules/Controller/Controller.tsx
  src/modules/Controller/usePointerSwipe.ts
  src/props.ts
  src/types.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  98c451af61effcbf9f41d17776aeb315af80b849
Due: none

chore: bump vite to 6.2.5
  package-lock.json
  package.json
Due: prettier --write

chore: add launch configuration
  .vscode/launch.json
Due: prettier --write

test: improve error handling in context provider test
  test/unit/core/utils.spec.ts
Due: eslint --fix, prettier --write

fix: fix thumbnail focus transfer edge case (fix #347)
  src/contexts/LightboxState.tsx
  src/plugins/thumbnails/ThumbnailsTrack.tsx
Due: eslint --fix, prettier --write

feat: improve ARIA attributes (fix #350)
  src/modules/Carousel.tsx
  src/modules/Controller/Controller.tsx
  src/modules/Portal.tsx
  test/unit/Lightbox.spec.ts
  test/unit/plugins/Captions.spec.ts
  test/unit/plugins/Counter.spec.ts
  test/unit/plugins/Download.spec.ts
  test/unit/plugins/Fullscreen.spec.ts
  test/unit/plugins/Inline.spec.ts
  test/unit/plugins/Share.spec.ts
  test/unit/plugins/Slideshow.spec.ts
  test/unit/plugins/Thumbnails.spec.ts
  test/unit/plugins/Video.spec.ts
  test/unit/plugins/Zoom.spec.ts
  test/unit/test-utils.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  e963a38700895602dcb30949ab99678f97d28cf0
Due: none

chore: add prettier as dev dependency
  package-lock.json
  package.json
Due: prettier --write

ci: drop node 18 from ci matrix
  .github/workflows/ci.yml
Due: none

fix: fixup video player controls in Chrome (fix #352)
  src/modules/Portal.tsx
  src/plugins/video/VideoSlide.tsx
  src/utils.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  1c69812ed1304d13a652bf3a331a4303fa67fc35
Due: none

chore: optimize the click to close the mask on the pc end
  dev/App.tsx
  src/modules/Carousel.tsx
Due: eslint --fix, prettier --write

fix: mouse pointer backdrop click
  src/modules/Carousel.tsx
  src/modules/Controller/Controller.tsx
  src/modules/Controller/usePointerSwipe.ts
Due: eslint --fix, prettier --write

refactor: code cleanup
  src/consts.ts
  src/modules/Carousel.tsx
  src/modules/Controller/usePointerSwipe.ts
Due: eslint --fix, prettier --write

fix: mouse pointer backdrop click (fix #357)
  src/consts.ts
  src/modules/Carousel.tsx
  src/modules/Controller/Controller.tsx
  src/modules/Controller/usePointerSwipe.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  3ab182652f8ca8400d4d5c442f2924675812d9a7
Due: none

fix(a11y): identify the slide description
  dev/slides.ts
  src/plugins/captions/Description.tsx
  src/plugins/captions/index.ts
Due: eslint --fix, prettier --write

fix(a11y): allow translation of roles descriptions
  src/modules/Carousel.tsx
  src/modules/Controller/Controller.tsx
  src/modules/Portal.tsx
  src/types.ts
Due: eslint --fix, prettier --write

fix(a11y): add slide label
  src/modules/Carousel.tsx
  src/types.ts
Due: eslint --fix, prettier --write

fix(a11y): remove aria-live=polite on modal
  src/modules/Portal.tsx
Due: eslint --fix, prettier --write

fix(a11y): always set ARIA attributes on carousel
  src/modules/Controller/Controller.tsx
  src/types.ts
Due: eslint --fix, prettier --write

fix(a11y): announce the dialog role
  src/modules/Portal.tsx
Due: eslint --fix, prettier --write

fix(a11y): add focus trap on dialog
  package-lock.json
  package.json
  src/modules/Portal.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,json})
